# Compiled class file
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDEA / Eclipse project specific files
.classpath
.project
.settings/
.factorypath

# Maven specific files
target/

# Gradle specific files
build/

# External build files
out/

# Miscellaneous
*.swp
*.bak
*~
